    {% extends "base.html" %}

    {% block title %}
    Welcome to Blog
    {% endblock %}

    {% block content %}
    
    <div class="container">

      <div class="row justify-content-md-center">

      <div class="col-md-8 pt-5">

      {% for post in posts %}
        <div class="col-12"><h1>
          <a class="text-dark" href="{{post.get_absolute_url}}">{{post.title}}</a>
        </h1></div>
        <div class="col-12"><p>{{post.excerpt}}</p></div>
      {% endfor %}

      </div>

      </div>

    </div>

    {% endblock %}